.project >img{
    width: 350px;
    height: 180px;
}
.project{
    margin:15px;
    width: 350px;
    height: 180px;
    transition: transform 100ms ease-in ;
}
.project:hover{
    color: white;
    background-color:rgb(6, 206, 6) ;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project__content{
    padding: 10px;
}
.project__content > h2{
    padding-bottom: 5px;

}
.project__content > p{
    font-size: 15px;
}